/* Write your CSS here */

.page-container {
  background-color: #07080c;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #ffffff;
  font-size: 56px;
  font-style: italic;
}
.image-set {
  height: 260px;
  width: 70%;
}
.speed-msg {
  color: #ffffff;
  font-size: 42px;
}
.speed {
  font-size: 44px;
  color: #ffffff;
}
.details {
  color: #cbd5e1;
  font-size: 34px;
}
.accelarator-btn {
  background-color: #0b69ff;
  padding: 12px 24px;
  border-width: 0px;
  border-radius: 14px;
  font-size: 24px;
  color: #ffffff;
  cursor: pointer;
  outline: none;
}
.brake-btn {
  background-color: #07080c;
  padding: 12px 24px;
  border: 3px solid #94a3b8;
  border-radius: 14px;
  font-size: 24px;
  color: #94a3b8;
  margin-left: 30px;
  cursor: pointer;
  outline: none;
}
.accelarator-btn:hover {
  background-color: #3e8e41;
  color: white;
}
.brake-btn:hover {
  background-color: #d54e77;
  color: white;
}
.brake-btn:hover {
  background-color: #d54e77;
}

.brake-btn:active {
  background-color: #d54e77;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
